.App {
  /* text-align: center; */
  background-color: #1f2535;
}

.Navbar {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.App-logo {
  height: 8vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #282c34;
  padding: 12px;
  text-decoration: none;
  background-color: white;
  border-radius: 8px;
}
